* {
	margin: 0;
	padding: 0;
}

.all-articles {
	display: flex;
	flex-flow: column;
}

h3 {
	margin-top: 2rem;
}

img {
	height: 100%;
	width: 75%;
	object-fit: contain;
	display: inline-block;
}

.vertical-section {
	display: flex;
	flex-flow: column;
	text-align: center;
	align-content: center;
}

.vertical-section p {
	text-align: justify;
}

.footer h3 {
	margin-top: 0;
}

.ungridded {
	text-align: justify;
}

@media only screen and (min-width: 600px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 0.6fr 1.4fr 1fr;
		gap: 0px 0px;
		grid-template-areas:
			"title title title title"
			"left-area left-area right-area right-area"
			"left-area left-area right-area right-area";
	}
	.title {
		grid-area: title;
	}
	.left-area {
		grid-area: left-area;
		position: relative;
		margin: 0 0 0 -2.5rem;
		display: flex;
		justify-content: center;
		flex-flow: column;
	}
	.right-area {
		grid-area: right-area;
		width: 125%;
		justify-content: center;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-flow: column;
	}

	.right-area img {
		height: 100%;
		width: 75%;
		object-fit: contain;
		display: inline-block;
		align-self: center;
	}
}
