@charset "ISO-8859-1";

.hover-div {
  font-size: 1.5em;
}

.hide-div {
  display: inline;
}

.show-div {
  display: none;
}

.hover-div:hover .hide-div {
  display: none;
}
.hover-div:hover .show-div {
  display: revert;
}
