* {
  margin: 0;
}

body {
  margin-top: 5%;
  font-size: 1.15rem;
  font-weight: 400;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

h3 {
  margin-top: 1rem;
}

img {
  max-width: 100%;
}

.logo {
  background: transparent url("../graphics/Logo.jpg") top left no-repeat;
  background-size: cover;
  background-position-x: center;
  position: absolute;
  border-radius: 60%;
  top: 5rem;
  left: 6rem;
  width: 7rem;
  height: 7rem;
}

.commercials {
  position: absolute;
  top: 60%;
  right: 0;
  width: 20%;
  height: 45%; /* might not need*/
  z-index: 0;
}
.commercials .wrapper {
  font: 10px verdana, sans-serif;
  padding: 3rem;
  width: 25%;
  margin-top: 1rem;
}
@media only screen and (min-width: 600px) {
  .top-image {
    background: url("../graphics/fuji.png") top left no-repeat;
    position: absolute;
    top: 3%;
    background-size: cover;
    width: 100%;
    height: 45%;
    z-index: -1;
    display: block;
  }
}

.all-articles {
  background-color: #fff;
  background-size: cover;
  margin-top: 25%;
  max-width: 37.5rem;
  width: min(90%, 65.5rem);
  margin-inline: auto;
}

.article-image {
  margin-left: -12%;
  background: transparent url("../graphics/Cat_on_laptop.jpg") top left
    no-repeat;
  background-size: cover;
  height: 40vh;
  width: 125%;
  background-color: salmon;
}

.footer {
  background-color: black;
}

.next-article {
  text-align: center;
  color: white;
}

.sidebar {
  position: fixed;
  top: 50rem;
  left: 0;
  max-height: 25%;
  max-width: 17%;
}
.sidebar .wrapper {
  font: 10px verdana, sans-serif;
  background: transparent url("../graphics/paper-bg.jpg") top left repeat-y;
  background-size: cover;
  padding: 2rem;
  display: inline-block;
  height: 50vh;
  overflow: scroll;
}

.collapse_button {
  display: inline-block;
  position: absolute;
  margin-left: 0%;
  background: #333333;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  transition: background 200ms;
  width: 3vw;
  height: 60vh;
}

.collapse_button-active {
  background: #555555;
  margin-left: 100%;
}
.collapse_div {
  overflow: hidden;
  max-width: 0;
  transition: max-width 200ms;
}
