<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="keywords" content="invata, limba, japoneza,">
    <meta name="author" content="Gligor Avram">
    <meta name="description" content="Metode de a invata japoneza">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style th:insert="fragments :: dropdown-style"></style>
<link rel="stylesheet" th:href="@{/css/shared.css}">
<link rel="stylesheet" th:href="@{/css/all.css}">
<title>Despre limba japoneza</title>
</head>

<body>
  <div th:insert="fragments :: nav" class="navbar-desktop"></div>
  <div th:insert="fragments :: nav" class="navbar-mobile"></div>
  
  
  <div class="content-container">
  
    <div class="brand-top-div">
      <h1>Manabi</h1>
      <div class="logo"></div>
    </div>

    <div class="all-articles">
      <h1>Limba japoneza</h1>
  <h2>Despre aceasta sectiune</h2>
  <p>Pana acum am folosit mai mult romaji (literele romane). De acum voi trece pe Kanji cu kana ascunse. Pentru a vedea kana, puneti doar mouse-ul pe cuvantul cu pricina. Alt lucru pe care vreau sa il subliniez este ca eu vreau sa ajung sa inteleg aspectele nuantate ale limbii. Propozitiile de genul "Kare to hanasu" si "Kare ni hanasu" sunt diferite intr-un mod foarte subtil, si cu toate ca se traduc la fel, exista o anumita diferenta in ceea ce inseamna.
    </p>
    <p>
    De asemenea, asteptati-va sa distorsionez romana in favoarea japonezei. Romana si japoneza sunt fundamental diferite (romana are verbul la mijloc si japoneza la sfarsit, japoneza nu are conjugatii asa cum suntem noi obisnuiti, in schimb poate schimba si lipi pana si intregi constructii la alte parti etc.) si din cauza acestor diferente nu au echivalenta de 1 la 1, cum se intampla in cea mai mare parte cu romana-franceza / romana-engleza. Asa ca voi prefera sa modific romana ca sa exprim o idee in japoneza decat inversul.
  </p>
  <p>
    S-ar putea sa nu fi observat pana acum, dar manualele de japoneza publicate pana acum incearca sa explice constructiile de exprimare japoneze ca si cum ar fi expresii engleze si ar urma logica limbii engleze. Din pacate aceasta strategie nu este foarte buna si produce multa confuzie. Exista chiar si autori de ghiduri de gramatica foarte bine vazuti care spun ca japoneza nu are subiect. Ca si cum japonezii sunt creaturi mitice care pot vorbi fara a se referi la lucruri concrete. Voi spulbera acest mit si va voi da un mod usor de inteles pentru a identifica subiectul in orice propozitie completa gramatical.
  </p>
  <h2>Sectiuni</h2>
  <p>
    Prima pagina este despre fonetica japoneza si despre primele 2 alfabete japoneze. As recomanda sa incepeti cu articolul acesta si sa va apucati sa studiati alfabetele lor inainte sa continuam. Va place sau nu (mie nu imi place), japonezii nu folosesc Romaji iar Hiragana e absolut necesar. Orice copil stie Hiragana. Hiragana e de departe cel mai folosit alfabet. Ca sa fii semi-analfabet in japoneza trebuie sa stii MACAR Hiragana. Cat despre Katakana, cu toate ca nu este la fel de intalnit, tot trebuie invatat.
    </p>
    <p>
    A doua sectiune va fi despre Kanji, ce sunt, de ce sunt importante si cum trebuie invatate. Voi prezenta Kanji din perspectiva celor care vor sa invete sa citeasca cat mai repede. In opinia mea, sa te apuci sa citesti nu trebuie sa dureze mai mult de cateva luni din momentul in care incepi studiul japonezei. Si totusi sunt programe de invatat Kanji care pot dura ani intregi de studiu, iar momentul cand te apuci sa chiar citesti cu adevarat este la fel dureros comparat cu sistemele mai scurte si mai usoare.
    </p>
    <p>
    Urmatoarele doua sectiuni vor fi despre partea favorita a tuturor, gramatica. Partea de gramatica de baza va contine dar teorie elementara, de baza pe care recomand sa o parcurgeti <strong>cat mai repede</strong>. In teorie nu e nevoie de gramatica sa invatati o limba, dar cateva explicatii gramaticale va vor salva de ani intregi de studiu. Voi incerca sa le tin cat mai scurte si la subiect. V-as sugera sa reveniti de 2-3 ori la ea in primele 6 luni - 1 an ca sa vedeti ce ati sarit cu vederea data trecuta cand ati fost aici. Experienta nascuta din imersiune ar trebui sa va faca sa vedeti cu alti ochi constructiile din aceasta parte.
    </p>
    <p>
    A 2-a parte voi incerca sa o fac ca pe un fel de blog unde sa postez explicatii la diverse constructii care nu sunt chiar de baza. Sectiunea aceasta v-as sugera sa nu o cititi la foc automat, articol dupa articol. Defapt recomand sa cititi articolele de acolo doar cand ati ajuns sa tot vedeti o constructie in imersiunea voastra si vreti sa intelegeti cum se foloseste si ce inseamna. O sa pun mai jos cateva site-uri unde puteti cauta expresia respectiva, in caz ca nu am facut inca un articol despre ceea ce cautati. Si de asemeni puteti sa-mi trimiteti email cu gramatica pe care vreti sa o acopar.
    <ul>
      <li><a href="https://www.youtube.com/channel/UCkdmU8hGK4Fg3LghTVtKltQ">Site-ul de Youtube al lui Cure Dolly</a></li>
      <li><a href="http://learnjapaneseonline.info">Site-ul propriu zis a lui Cure Dolly</a></li>
      <li><a href="https://maggiesensei.com/">Maggie Sensei</a></li>
      <li><a href="https://www.imabi.net/">Imabi</a></li>
    </ul>
  </p>
</div>
</div>


      <div class="footer">
        <h3>Urmatorul articol</h3>
        <a th:href="@{/limbajaponeza/fonetica}">
          <h1>Fonetica japoneza si alfabelete fonetice</h1>
        </a>
        <a th:href="@{/limbajaponeza/fonetica}">
          <h3>Citeste acum</h3>
        </a>
          <div th:insert="fragments :: footer-bottom"></div>
      </div>
</body>
</html>