<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
		<meta name="keywords" content="invata, limba, japoneza, imersiune,">
		<meta name="author" content="Gligor Avram">
		<meta name="description" content="Metode de a invata japoneza si alte limbi straine">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style th:insert="fragments :: dropdown-style" ></style>
<link rel="stylesheet" th:href="@{/css/shared.css}">
<link rel="stylesheet" th:href="@{/css/all.css}">
<title>Metode de a invata limbi straine</title>
</head>
<body>
	<div th:insert="fragments :: nav" class="navbar-desktop"></div>
	<div th:insert="fragments :: nav" class="navbar-mobile"></div>
	
	
	<div class="content-container">
	
		<div class="brand-top-div">
			<h1>Manabi</h1>
			<div class="logo"></div>
		</div>

<div class="all-articles">
		<h1>Cum se invata limbile straine</h1>
	<div>
		<h2>Ce metode de a invata limbi exista?</h2>
			<p>
					Raspunsul... multe. Cate metode functioneaza insa? Exista o singura categorie care iese in evidenta. Imersiunea. Sa vorbesc prima data despre celelalte metode insa, cea mai comuna fiind cursurile. Problema la cursuri e ca din 10 studenti, 9 se lasa. Si din experienta mea, cursantii care chiar au invatat japoneza nu au invatat-o din cauza cursurilor ci din cauza ca au facut ceva pe langa (au fost in Japonia, au avut perioade lungi de timp cand s-au uitat mult la anime, s-a casatorit cu un japonez etc). Am sa includ in categoria aceasta si cartile/programele care sunt predate la cursuri: Genki, Minna no nihongo, Japanese for busy people etc.
			</p>
			<p>
					Recent au aparut aplicatii gen Duolingo, Babbel, Lingodeer si multe alte sute de aplicatii care promit ca inveti limbi straine pe telefon cu doar cateva minute pe zi. Singura problema? N-am vazut pe nimeni sa ajunga fluent din cauza aplicatiilor acestea. Spre exemplu am vazut un video cu un tip care a invatat franceza timp de peste 1000 de zile inca cand s-a uitat la un film in franceza nu a reusit sa inteleaga mai mult decat cateva cuvinte. Am sa includ aici si sistemele pe care aceste aplicatii le-au inlocuit,  Pimsleur, Rosetta Stone, Assimil etc.
					</p>
					<p>
					 Dar totusi, nu e ca si cum cursurile si programele acestea sunt inutile, nu? Sunt totusi bune pentru inceput/incepatori, nu? Da, sunt bune pentru inceput si incepatori, dar cat timp esti dispus sa petreci in statiul de incepator? Cele mai scurte programe iau cateva luni de parcurs iar cand le termini iti dai seama ca tot nu poti sa zici ce vrei sa zici si nu intelegi aproape nimic daca asculti un nativ. Stiu asta fiindca am fost acolo, si dupa 2 ani jumate de studiu am incercat sa vorbesc si sa ma uit la media japoneza. Rezultatul? Dintr-un episod din Black Lagoon nu am inteles mai mult din 10 cuvinte. Trecusem deja prin Genki, facusem primele 25 de lectii de Minna no Nihongo, imi luasem JLPT-ul de N5 si ma pregateam sa dau de N3.
					</p>
					<p>
					 Ce vreau sa spun e ca timpul petrecut facand activitati care nu sunt legate de scopul vostru vor duce la rezultate abismale. Daca va petreceti timpul facand lectii de japoneza pe telefon veti ajunge bun la a face aceste lectii, nu veti ajunge neaparat buni la japoneza. Daca mergeti la cursuri e mai posibil sa ajungeti buni la a face exercitiile care apar la cursuri, nu la japoneza. Iar, daca scopul vostru e sa luati N1 puteti studia pentru asta, dar aveti grija sa nu ajungeti unul dintre cei care ajung la acest rezultat insa tot nu reusesc sa vorbeasca japoneza (o categorie care m-a surprins cand am aflat cat de mare e defapt). 
			</p>
	</div>
	<br>
	<div>
		<h2>Imersiunea</h2>
		<p>Imersiunea este cea mai importanta activitate pe care o putem face pentru a invata o limba. Defapt, cea mai mare diferenta intre programele care functioneaza si cele care nu functioneaza e cat de mult accent pun pe imersiune. Aceasta este fiindca, paradoxal, oamenii invata prin uitare. Creierul nostru e bombardat zilnic cu informatii inutile, asa ca uitatul este foarte important pentru sanatatea lui. Lucrurile care sunt cu adevarat importante se repeta. Si cu destula repetitie creierul le va da destula importanta cat sa le incorporeze in memoria de lunga durata. Spre exemplu, cunostintele dobandite pentru testele scolare sunt aproape complet uitate dupa test, iar cele care persista sunt cele pe care le intalnim intr-un fel sau altul in viata noastra de zi cu zi. 
			</p>
			<p>
			Imersiunea in esenta nu face decat sa ne expuna la o serie de mici accidente care sa ne faca sa memoram cuvinte/structuri gramaticale. Putem chiar spune ca a invata o limba e ceva ce se intampla accidental iar singura noastra datorie e sa fim acolo cand se intampla acea lunga serie de mici accidente.
			</p>
			<p>
			A doua problema cu a folosi alte metode decat imersiunea e timpul pe care trebuie sa il depunem. Pentru a parcurge Genki sau Minna no Nihongo trebuie aproximativ 200 de ore de curs, la care se adauga timpul alocat exercitiilor si activitatilor in plus. La 4 ore pe saptamana (2 cursuri), in cel mai bun caz asta inseamna un an jumatate, 2. Si dupa 2 ani vom invata cam 2000 de cuvinte daca avem memorie perfecta (insa, as vrea sa repet din nou ca invatam prin uitare). Din studiile care le-am citit insa, un nativ are are un vocabular activ de aproximativ 10000 de cuvinte si unul pasiv de 50000. Un simplu calcul ne spune ca in acest ritm ne trebuie cel putin 10 ani doar ca sa cladim vocabularul activ (5 pentru eroii de filme cu memorie fotografica). Nu stiu cat de multi oameni sunt insa dispusi sa mearga la cursuri timp de 10 ani de zile. Plus ca aceste cursuri iti vor cere in cele din urma sa incepi sa folosesti limba dupa ce termini (imersiune).
		</p>
		<p>
		Pentru incepatori, imersiunea este o activitate atat de dificila incat nici macar nu trebuie incercata. Si chiar si conform teoriei lingvistului american Stephen Krashen, toti oamenii invata limbajul prin intelesul mesajelor transmise prin acea limba. Iar ca sa intelegem mesajele trimise prin intermediul acelei limbi, mesajul transmis trebuie sa fie inteligibil. Grozav, dar asta inseamna ca trebuie sa o luam din aproape in aproape, nu? Si da, intr-o lume perfecta exact asa ar fi. Insa, noi incercam sa invatam probabil limba cu al 2-lea cel mai mare numar de resurse disponibile pentru studiu, a 2-a numai dupa engleza. Si totusi numarul de resurse disponibile pentru aceasta abordare nu e deloc suficient. Defapt, strategia aceasta functioneaza o singura data in viata, cand suntem bebelusi. In acea perioada nu vrem alte optiuni, nu avem desene, cantece de leagan, filme in "limba" noastra. In schimb avem doi parinti dispusi sa faca imposibilul si sa ne invete cel putin o limba.
		</p>
		<p>
		Asadar, am sa va propun inversul: sa ne aruncam cu capul inainte in limba si sa gasim metode prin care sa transformam incet incet partile care nu le stim in parti pe care le intelegem. Aceasta e metoda aplicata de aproape toti cei care au invatat a 2-a limba la un nivel inalt la orice varsta. Copii invata limbi straine dedicand parti uriase de timp consumand media in limba tinta. Adultii care au ajuns fluenti in limbi dificile par sa faca acelasi lucri,insa mai adauga la aceasta activitate studii dedicate. Din fericire exista foarte multe materiale create de nativii japonezi pentru alti nativi. Exista cantitati industriale de Anime, Manga, Light Novels, Visual Novels, Audio-bookuri, canale de Youtube, muzica etc. Ne va trebui doar unelte si metode care sa ne ajute sa facem tranzitia spre a nu mai folosi subtitrari. Le veti gasi aici, pe acest site. Cat despre studii propriu-zise, va voi prezenta mai exact cum trebuie sa dedicam timpul pentru aceste studii.
		</p>
	</div>
	<br>
	<div>
		<h2>Cu ce sa incepem?</h2>
		<p>
			Ei bine, asta e o intrebare a carui raspuns trebuie personalizat putin. Cu toate ca pe pagina principala am pun o secventa de pasi care pot fi urmati fara nici o problema; situatia fiecaruia, cunostintele anterioare si scopul pentru care fiecare dintre voi invata japoneza sunt diferite de la persoana la persoana. Am sa pun mai jos motivul pentru care sugerez sa incepeti in ordinea cronologica pe care o recomand, sperand sa va ajute sa adaptati planul la nevoie voastre.
			</p>
			<p>
			Incepatorii au capacitatea remarcabila de a duce la indeplinire lucrurile grele, manuale, pe care cei cu experienta in domeniu nu le-ar face. Nu de alta, dar nu stiu mai bine, deci daca le dai o lopata iti vor sapa un sant fara sa se planga, in timp ce tu te uiti la ei de pe excavator. Perioada asta se numeste "motivatie" insa daca va bazati pe ea mai mult ca sigur veti ajunge sa va lasati de acea pasiune. Motivatia duce la epuizare pe termen lung. Motivatia e periculoasa pana si pe termen mediu. Motivatia este buna doar cand ne apucam de ceva. Insa, putem folosi aceasta perioada ca sa pre-incarcam partile cele mai neplacute ale calatoriei. Adica, Kanji si Gramatica. Nu va mint, va fi greu fiindca e vorba de studiu zilnic, cateodata chiar 2-3 ore la care trebuie adaugat si uitatul la media japoneza. Insa, partea buna este ca prin Kanji trebuie sa treceti o singura data in viata. Iar gramatica in principiu o veti gasi pe acest site.
			</p>
			<p>
			Dupa ce ati trecut marele hop numit Kanji vine ultima parte mai dificila... dar si cea mai placuta si satisfacatoare. Partea in care trebuie sa aplicati ce ati invatat pana acum. Partea in care trebuie voi sa gasiti activitati care va plac in limba si sa le folositi pentru a ajunge la fluenta. Deci, primele cateva luni sunt cele mai grele, dupa aceea totul va fi a 2-a natura. In doar cateva luni va puteti bucura de roadele studiilor voastre, fie ca este vorba de ascultat fie ca vreti sa va axati pe citit. Felicitari!! 
			</p>		
			<p>
			Dupa cum vedeti, partea de metode este relativ vaga. Asta e fiindca fiecare are stilul lui asa ca fiecare va fi dispus sa faca lucrurile in alt mod. In mare, metoda care o aplic eu este de a lua limba asa cum este ea folosita de japonezi cu adevarat (nu monstruozitatea care este predata in manuale) si a incerca sa o descifrez. Pentru aceasta va voi da unelte necesare sa treceti prin Kanji si gramatica cat mai usor si rapid posibil. Totusi insa vorbim de gramatica si Kanji, asa ca va trebui sa va puneti putin fundul pe scaun si sa treceti prin aceste resurse singuri. In vorba unuia dintre modelele mele, a invata Kanji nu e o problema de putere a creierului, e o problema de putere a fundului. Asa ca luati-va o perna cat mai moale.
			</p>
			<p>
			Dupa ce treceti de partea de triere (cei care nu sunt seriosi nu vor trece de Kanji), posibilitatile sunt limitate doar de ce sunteti voi dispusi sa faceti. Vreti sa va concentrati pe anime? Nici o problema. Vreti sa cititi manga? Light Noveluri-uri? Romane? Ziare, stiri? Din nou, nici o problema. Sunt metode si pentru asta. Muzica? Nu as recomanda din cauza ca japonezii distorsioneaza foarte mult limba cand canta, dar si versurile sunt o sursa foarte buna de a invata limba. Plus ca refrenurile si temele cantecelor sunt foarte repetitive, deci sansa sa invatati cuvinte noi nu e deloc scazuta. Doar ca as recomanda sa o considerati ca pe o activitate complementara. Si va mai sugerez sa cautati 2-3 lucruri care va plac fiindca asa atunci cand va veti plictisi de una puteti jongla cu alta.
			</p>
				<p>
					Iar ca sa raspund intrebarii legate de cum ar trebui sa organizam timpul dedicat invatatului limbii, ei bine la inceput trebuie varsat exclusiv in Kanji si gramatica de baza. Gramatica trebuie doar citita si ocazional recitita. Lasati tabelele de conjugare la o parte. Dupa ce terminati cu Kanji, timpul ocupat de invatatul acestor caractere va trebui redirectionat spre invatatul cuvintelor. Atat pentru Kanji cat si pentru a invata cuvinte recomand sa folositi <a th:href="@{/metode/anki}">Anki</a>. Daca nu va place sa folositi acest program, exista si alte metode care il pot suplini.
				</p>
		</div>
	</div>
</div>

		<div class="footer">
			<h3>Urmatorul articol</h3>
			<a th:href="@{/metode/unelte}">
				<h1>Unelte</h1>
			</a>
			<a th:href="@{/metode/unelte}">
				<h3>Citeste acum</h3>
			</a>
				<div th:insert="fragments :: footer-bottom"></div>
		</div>

</body>
</html>