<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="invata, limba, japoneza, imersiune, anki, unelte">
	<meta name="author" content="Gligor Avram">
	<meta name="description" content="Uneltele de care veti avea nevoie pentru a invata limba japoneza">
<style th:insert="fragments :: dropdown-style" ></style>
<link rel="stylesheet" th:href="@{/css/shared.css}">
<link rel="stylesheet" th:href="@{/css/grid.css}">
<link rel="stylesheet" th:href="@{/css/all.css}">
<title>Tools</title>
</head>

<body>
	<div th:insert="fragments :: nav" class="navbar-desktop"></div>
	<div th:insert="fragments :: nav" class="navbar-mobile"></div>
	
	
	<div class="content-container">
	
		<div class="brand-top-div">
			<h1>Manabi</h1>
			<div class="logo"></div>
		</div>

			<div class="all-articles">
				<h1>Unelte</h1>
				<div class="vertical-section">
					<h2>Harduri (Lucruri fizice)</h2>
					<div class="grid-container">
						<div class="title">
					<h3>Calculator</h3>
					</div>
					<div class="left-area">
						<p> Primul si cel mai important lucru de care aveti nevoie este un calculator. (Pisica e optionala, insa recomand doua).
						Calculatorul va va da posibilitatea de a utiliza toate uneltele prezentate aici (Anki, Subs2SRS, KanjiTomo, Yomichan
						etc) si de a incerca toate felurile de imersiune posibile (vizionat, citit manga, citit LN-uri, jucat VN-uri si alte
						jocuri in japoneza, ascultat muzica, etc), inainte de a decide daca vreti sa investiti in alte echipamente.</p>
						</div>
						<div class="right-area">
							<img th:src="@{/graphics/Cat_on_laptop.jpg}" alt="Laptop" />
						</div>
					</div>
					<div class="grid-container">
						<div class="title">
						<h3>MP3 player</h3>
						</div>
						<div class="left-area">						

							<img th:src="@{/graphics/mp3iem.JPG}" alt="MP3">
						</div>
						<div class="right-area">
							<p>Urmatorul lucru de care veti avea nevoie este ceva pentru ascultat. As recomanda un MP3 Player si o pereche de
								IEM-uri. IEM-urile sunt castile folosite de artisti cand sunt pe scena. Chiar daca va punteti sub boxa la un concert rock, tot veti auzi ce se discuta in casti (incercat si verificat). Gasiti o pereche ieftina pe Amazon la 20-30 de euro. Calitativ si ca izolare fonetica sunt mai bune ca perechile de 300$ cu cancelare audio. O pereche de casti normale este in esenta buna, dar s-ar putea sa nu o puteti utiliza intr-o serie de imprejurari (in mijloce de trasport, cand mergeti pe strada etc) din cauza zgomotului ambiental.</p>
						</div>
					</div>
					<div class="grid-container">
						<div class="title">
						<h3>Telefon</h3>
						</div>
						<div class="left-area">
					<p>Puteti inlocui MP3-ul cu un telefon. Telefon, de asemenea, mai poate fi folosits si pentru aplicatii ca Anki. Sunt cateva dezavantaje la a folosi telefonul pentru imersiune insa (spre exemplu bateria va tine mai putin).</p>
						</div>
						<div class="right-area">
						<img th:src="@{/graphics/cell.jpg}" alt="Telefon" />
					</div>
				</div>
					<div class="grid-container">
						<div class="title">
						<h3>Kindle</h3>
						</div>
						<div class="left-area">
							<img th:src="@{/graphics/kindle.png}" alt="Kindle" />
						
						</div>
						<div class="right-area">
						<p> Pentru citit recomand un Kindle. Sunt o gramada de dictionare engleze-japoneze si japoneze-japoneze pe care le puteti folosi. Pana acum nu am gasit un dictionar japonez-roman, insa mai caut.</p>
						</div>
						</div>
					<div class="ungridded">
						<h3>*****</h3>
						<p>Kindle-ul ar putea fi inlocuit cu calculatorul folosind Yomichan, cu o tableta sau, ceva mai dificil, un telefon.
						Pentru tableta/telefon va trebui sa cumparati un app care poate traduce instant cuvinte. As recomanda sa incepeti cititul folosind Yomichan (pentru site-uri, LN-uri) si Kanjitomo (pentru manga). Puteti decide pe urma daca vreti sa treceti la o tableta sau la un Kindle.</p>
						</div>
					</div>
				<div>
					<div class="vertical-section">
				<h2>Softuri (programe)</h2>					
				<div class="grid-container">
					<div class="title">
						<h3>Anki</h3>			
						</div>
						<div class="left-area">
					<p>Am tot mentionat Anki pana acum. Dar ce e acest Anki si ce gust are? Anki are gustul dulce amarui al succesului. Aceasta este fiindca, probabil, il veti iubi si uri in acelasi timp. Este poate cea mai buna metoda de a invata cuvinte si de a tine evidenta progresului tau. Este un program atat de important incat va avea propria pagina unde voi vorbi despre configuratii, pachete, cum sa il menajati etc. Pentru a folosi Anki e foarte important sa fiti consistenti. Daca incetati sa il folositi va trebui sa treceti printr-o perioada de rememorare care de multe ori este prea dificila. Sunt cateva metode de a face mai usoara aceasta parte, dar recomand sa faceti zilnic repetitiile in Anki. Mai multe despre aceasta pe pagina de Anki.</p>
					</div>
					<div class="right-area">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Anki-icon.svg/800px-Anki-icon.svg.png" alt="Anki"/>
							</div>
					
						</div>
						<div class="grid-container">
							<div class="title">
						<h3>Subs2SRS</h3>
						</div>
						<div class="left-area">
							<img th:src="@{/graphics/subs2srs.png}" alt="subs2srs" />
						</div>
						<div class="right-area">
								<p>
									Un supliment pentru Anki care poate face pachete cu liniile din subtitrari. Pe langa aceasta, mai are si un extractor audio care il puteti folosi pentru a va umple MP3 player-ul de material audio. Foarte util mai ales pentru inceput.
								</p>						
						</div>
							</div>
							<div class="grid-container">
								<div class="title">
						<h3>KanjiTomo</h3>
						</div>
						<div class="left-area">
							<p>
						KanjiTomo este un OCR pentru invataceii de japoneza. Doar trebuie sa puneti mouse-ul deasupra unui cuvant in Kanji si veti avea deja traducerea, ceea ce il face perfect pentru citit manga. Are cateva limitari, de exemplu foaia trebuie sa fie relativ curata si caracterele spatiate (deci cam are probleme la manga mai vechi istorice), dar pentru majoritatea manga care ies azi este perfect.</p>
						</div>
						<div class="right-area">
						<img th:src="@{/graphics/kanjitomo.png}" alt="kanjitomo"/>
						</div>
					</div>
							<div class="grid-container">
							<div class="title">
						<h3>Yomichan</h3>
						</div>
						<div class="left-area">
							<img th:src="@{/graphics/yomichan.png}" alt="yomichan" />			
						</div>
						<div class="right-area">
							<p>
								Yomichan poate fi folosit pentru a traduce instant cuvinte doar punand mouse-ul pe ele pe site-uri. Exista un numar de site-uri care contin LN-uri gratuite. Spre exemplu Aozora Bunko sau Shosetsuka ni narou. Sau, pentru cei mai inclinati spre non-ficțiune, va puteti delecta cu site-uri de stiri sau cu Wikipedia japoneza.</p>
						</div>
					</div>
					<div class="grid-container">
						<div class="title">
						<h3>Yomiwa</h3>
						</div>
						<div class="left-area">
						<p>
						Yomiwa, un dictionar optional pentru Android. Exista si pentru varianta IOs. Daca vreti sa mergeti in Japonia va recomand sa il cumparati. Are un OCR foarte decent asa ca doar indreptati camera spre o poza si aveti traducerea. Merge si si cu pozele voastre. Il puteti inlocui cu orice aplicatie de dictionar stiti care poate face acest lucru.
						</p>
						</div>
						<div class="right-area">
						<img th:src="@{/graphics/yomiwa.png}" alt="yomiwa"/>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>

	<div class="footer">
		<h3>Urmatorul articol</h3>
		<a th:href="@{/metode/ascultatul}">
			<h1>Ascultatul</h1>
		</a>
		<a th:href="@{/metode/ascultatul}">
			<h3>Citeste acum</h3>
		</a>
			<div th:insert="fragments :: footer-bottom"></div>
	</div>


</body>
</html>